/** CUSTOM STYLES **/
.featured-post-image-parent {
	float: left;
	display: inline-block;
}

.featured-post-image {
	display: block; 
	float: left;
	margin-right: 1em;
}


.homepage-article-container {
	float: left;
	height: 100%;
	opacity: 0;
	margin: 2em 0;
}
	
	.homepage-article-container h3 {
		margin-top: 0;
	}
	
.homepage-article-container button.edit_post { 
	margin-left: .5em;
} 

/** Post Meta **/
.post-meta {
	display: block;
	width: 100%;
	margin: .5em 0;
}

.homepage-article-container .btn {
	position: absolute;
	bottom: 0;
}

.homepage-article-container .btn.edit_post {
	margin-left: 100px;
}

/** Nav Styles **/
.eh-nav-disclaimer {
	position: absolute;
	bottom: 2em;
	color: #b8b7ad;
}

.eh-nav-disclaimer em small a {
	padding: 0 !important;
	display: inherit;
	width: auto;
}

.eh-nav-disclaimer em small .fa-heart {
	color: #D06073;
}
/** End Nav Styles **/